{% extends 'user/base.html' %}
{% load static %}

{% block content %}
    <!-- Begin page content -->
    <main role="main" class="container">
    <h1 class="mt-5"> Engineering LogBook Project 🔖 </h1>
            <img src="{% static 'user/HOME BANNER.png' %}"
            <br>
    
    <h3 class="mt-5">About </h3>
    <p class="lead">
The project is to bring significant value to the people who use it and manage capstone projects in our campus.
<br>
The plan is to be something similar to branching and versioning to other engineering projects 
<br>
Currently this project make it simple for you to create logs and add maintain engineering projects and make Teams </p>
    </main>


    <footer class="footer">
    <div class="container">
        <span class="text-muted" ><a href="https://github.com/EngineerLogbook/logbook"> The Project is Open Source on Github </a> </span>
    </div>
    </footer>

{% endblock content %}

